
	@import url('https://fonts.googleapis.com/css?family=Poppins');


	/*======= width  =======*/
	.col-full {
		width: 100%;
	}

	.col-half {
		width: 49.8%;
		float: left;
	}

	.row:before,
	.row:after {
		content: "";
		display: table;
	}

	.row:after {
		clear: both;
	}
	/*=========*/

	.text-c{
		text-align: center;
	}

	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}

	/*  ===================================
				Add page css
				=============================*/
	html,
	input,
	select,
	textarea,
	button {
		font-family: 'Poppins', sans-serif;
	}

	body {
		background: url(../images/blue.jpg);
		background-attachment: fixed;
	}
	
	input,
	select,
	textarea {
		width: 100%;
		padding: 13px;
		margin: 10px auto;
		outline: 0;
		border:0;
		background-color: #eee;
	}
	label {
		font-size: 18px;
		font-weight: 600;
		color: #28B463;
	}
	.data-field {
		margin: 5px 10px;
		border:2px solid white;
		border-radius: 5px;
		background-color: #eee;
	}
	
	.data-field:hover,
	.data-field:focus {
		border-color:  #083a00;
		transition: 0.6s linear;
	}

	input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
	}	

	input[type=date] {
		text-transform: uppercase;
		color: #4CAF50;
	}

	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		color: #4CAF50;
	}

	textarea {
		resize: none;
		overflow: hidden;
	}

	.container {
		margin: 10% auto;
		width: 75%;
		z-index: 222;
		padding: 40px 20px;
		background-color: rgba(0,0,0,0.4);
		border-radius: 15px;
	}

	.wrapper {
		width: 70%;
		margin: 0 auto;
	}

	.main-sec h2 {
		color: #d2ced3;
	}
	
	div.btn {
		margin: 5px 10px;
	}
	
	.btn button {
		font-size: 18px;
		font-weight: 600;
		line-height: 1.4;
		padding: 10px 0;
		width: 100%;
		border-radius: 5px;
	}

	.btn button:hover {
		color: white;
		background-color: #083a00;
		border: 2px solid white;
		box-shadow: 1px 1px 4px rgba(0, 0 ,0 ,0.9);
		transition: 0.5s ease-in-out;
	}

	@media only screen and (max-width: 700px) {

			.container {
				width: 85%;
			}

			.wrapper {
				width: 100%;
			}
	}

	@media only screen and (max-width: 448px) {
			
			.col-half {
			width: 100%;
		}

		.container {
			margin: 5px auto;
			width: 95%;
		}
	}

	/* ==============================
			index page css
			============================*/

			.wrap {
				width: 80%;
				background-color: white;
				margin: 10px auto;
				padding: 20px;
				border-radius: 5px;
			}

			div.head h2, td a{
				text-transform: uppercase;
			}

			div.btn-1{
				margin: 5px;
			}

			div.ad-btn {
				background-color:green;
				border-radius: 10px;
			}

			div.ad-btn:hover{
				background-color: #084408;
				transition: 0.6s ease-in;
			}
			div.ad-btn a button {
				width: 100%;
				padding: 20px;
				font-size: 14px;
				font-weight: 700;
				background-color: transparent;
				letter-spacing: 1px;
				outline: 0;
				border:0;
				cursor: pointer;
				color: white;
			}

			div.ad-btn a:hover button {
				color: #eee;
				transition: 0.6s ease;
			}


			/*======================
					Record page css
					===================*/
					div.table {
						/**/
					}

					table {
						width: 100%;
						margin: 0 auto;					
						border-collapse: collapse;
					}

					th, td {
						padding:5px;
						width: 33.3%;
						border:1px solid black;

					}

					td a{
						text-decoration: none;
					}

					div.btn-2{
						width: 50%;
						margin: 10px auto;
					}
			/* ================================
						all student data pages
						========================*/

					div.container1 {
						width: 75%;
						margin: 5% auto;
						z-index: 222;
						padding: 40px 20px;
						background-color: rgba(0,0,0,0.4);
						border-radius: 15px;
					}
					.body {
						width: 100%;
					}
					
					.data-1, .data-2 {
						text-align: left;
						padding-left: 15%;
					}
					
					.data-1 span,
					.data-2 span {
						font-weight: 200;
					} 

				@media only screen and (max-width:  600px) {

					div.container1 {
						width: 100%;
					}
				}

